.empData {
    font-family: 'Montserrat', sans-serif;
}

.empData .empLogo:focus {
    outline: none;
    border: none;
}

.empData .mainContent .emptyDataMsgField {
    height: 300px;
}

.cursor-pointer {
    cursor: pointer;
}